@import "tailwindcss";

@theme {
  --color-snow: #F8F2F4;
  --color-melon: #F2ABA6;
  --color-bittersweat: #E8685E;
  --color-red: #D52B1E;
  --color-darker: #6B150F;

  --color-white: #FFFFFF;
  --color-silver: #BCB8B1;
  --color-grey-olive: #8A817C;
  --color-taupe: #463F3A;
  --color-black: #000000;
}

body {
  font-family: "Oswald", system-ui, sans-serif;
}
